/* GENERAL STYLING */

body{
    font-family: 'Roboto';
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}
        
button{
    outline: none;
}

/* RESPONSIVE NAVBAR STYLING */

header{
    background: #cccccc;
    color: white;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

h1{
    margin: 0;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 10px;
    padding-left: 20px;
}

.navLinksWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

#navBarButton{
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.hamburger{
    border-bottom: 3px solid white;
    border-radius: 10px;
    width: 30px;
    margin: 3px;
}

.toggle{
    display: none;
}

.navLinks{
    top: 65px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    transition: 1000ms;
}


#navUl{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    z-index: 2;
}

#navUl a{
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
    padding: 20px;
}

@media screen and (min-width: 750px) {
      
    nav{
        height: 120px;
        max-width: 1000px;
    }

    .navLinksWrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

    #navBarButton{
        display: none;
    }

    .toggle{
        display: inline;
    }

    .navLinks{
        top: 0;
        width: 100%;
        height: 100%;
        background: none;
        position: static;
    }


    #navUl{
        flex-direction: row;
        padding: 0;
    }

}

/* END OF RESPONSIVE NAVBAR CSS */

/* CLEAN */

        .dateWrapper{
            font-weight: 900;
            padding: 50px;
            text-align: center;
        }
        
        #date{
            font-size: 1em;
        }
        #time{
            font-size: 0.8em;
        }
        
        .fadeOut{
            opacity: 0;
        }
        
        .filter{
            filter: blur(10px);
        }
        
        .divWrapperAnimation{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        #startDivAnimation{
            font-weight: 900;
            background: #bcbcbc;
            color: white;
            border: none;
            padding: 20px;
            border-radius: 5px;
            transition: 300ms;
            margin-bottom: 30px;
        }
        
        #startDivAnimation:hover{
            background: #cccccc;
        }
        
        #divAnimationWrapper{
            display: flex;
            flex-direction: column;
        }
        
        .animationDiv{
            width: 300px;
            text-align: center;
            padding: 20px;
            margin: 10px;
            background: #70A9A1;
            color: white;
            text-transform: uppercase;
            font-weight: 900;
            border-radius: 10px;
            transition: 800ms;
        }
        
        .animationDiv:hover{
            background: #568982;
        }

