button{
    outline: none;
}

.fadeOut{
    opacity: 0;
}

body{
    font-family: 'Roboto';
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

header{
    background: #cccccc;
    color: white;
}

h1{
    margin: 0;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 10px;
    padding-left: 20px;
}

main{
    transition: 700ms;
}

footer{
    transition: 700ms;
}