nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

h1{
    margin: 0;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 10px;
    padding-left: 20px;
}

.navLinksWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

#navBarButton{
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.hamburger{
    border-bottom: 3px solid white;
    border-radius: 10px;
    width: 30px;
    margin: 3px;
}

.toggle{
    display: none;
}

.navLinksFade{
    opacity: 0;
    transition: 1000ms;
}

.navLinks{
    top: 65px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    position: absolute;
    transition: 1000ms;
}


#navUl{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    z-index: 2;
}

#navUl a{
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
    padding: 20px;
}

.backgroundFilter{
    filter: blur(1px);
    transition: 1000ms;   
}

@media screen and (min-width: 750px) {
      
    nav{
        height: 120px;
        max-width: 1000px;
    }

    .navLinksWrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

    #navBarButton{
        display: none;
    }

    .toggle{
        display: inline !important;;
    }
    
    .navLinksFade{
        opacity: 1 !important;
    }

    .navLinks{
        top: 0;
        width: 100%;
        height: 100%;
        background: none;
        position: static;
    }


    #navUl{
        flex-direction: row;
        padding: 0;
    }
    
    .backgroundFilter{
        filter: blur(0px) !important;
    }

}

/* END OF RESPONSIVE NAVBAR CSS */