#slideShow {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: black;
    position: relative;
    margin: auto;
}

.slideWrapper {
    transition: 700ms;
    img {
        position: absolute;
        width: 100%;
    }
}

.fadeSlide {
    opacity: 0.5;
}

#slideDotsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: -50px;
    position: absolute;
}

.slideDot{
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid white;
    transition: 700ms;
}

.activeDot{
    background: white;
}

@media screen and (min-width: 750px){
    
    #slideShow{
        height: 450px;
    }
    
    .slideDot{
        width: 15px;
        height: 15px;
    }
    
}